# First Model
Following the five steps from Ch 5 in **Data Science Handbook**:

- To see the function help: click "Shift+Tab" inside the function ()
- To see an object variables, after object name . click "Tab" (Ex: data.target_names)

In [104]:
print("Hello World")

Hello World

In [105]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

# 1. Load and arrange data into feature matrix and target vector

In [106]:
from sklearn.datasets import load_iris

In [107]:
data = load_iris(as_frame=True)

In [108]:
type(data)

sklearn.utils.Bunch

In [109]:
data.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [110]:
data.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [111]:
X = data.data
y = data.target

In [112]:
type(X)

pandas.core.frame.DataFrame

In [113]:
X.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [114]:
type(y)

pandas.core.series.Series

In [115]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int32

In [116]:
y.value_counts()

0    50
1    50
2    50
Name: target, dtype: int64

## Split arrays/matrices into random train and test subsets
Usually 80% of the data will be considered as training data and 20% as the test data.

In [117]:
from sklearn.model_selection import train_test_split

In [118]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=233)

In [119]:
X_train.shape

(112, 4)

In [120]:
X_test.shape

(38, 4)

# 2. Choose the model class

In [121]:
from sklearn.linear_model import LogisticRegression

# 3. Instantiate the model

In [122]:
logreg = LogisticRegression()

# 4. Fit the model 
Using the training data matrix and target array (80% of the data)

In [123]:
logreg.fit(X_train, y_train)

LogisticRegression()

# 5. Predict values for new data
Using the test data (20% of the data that was originally splitted)

In [124]:
y_pred = logreg.predict(X_test)

In [125]:
y_pred

array([1, 2, 1, 2, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 2, 2, 0, 2, 2,
       1, 2, 0, 0, 0, 1, 2, 1, 0, 1, 1, 1, 1, 0, 2, 1])

## Evaluate the results
Compare the predicted values with the test target values (20% of the data that was originally splitted)

In [126]:
y_test.values

array([1, 2, 1, 2, 0, 1, 1, 0, 1, 1, 1, 1, 2, 1, 0, 0, 0, 2, 2, 0, 2, 2,
       1, 2, 0, 0, 0, 1, 2, 1, 0, 1, 1, 1, 1, 0, 2, 1])

In [127]:
from sklearn.metrics import accuracy_score

In [128]:
accuracy_score(y_test, y_pred)

0.9736842105263158